<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="EN">
<head>
    <meta charset="UTF-8">
    <title>CHeF : SMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="scripts/script.js"></script>
    <script src="resources/js/chartjs/Chart.js"></script>
    <script src="resources/js/main.js"></script>
</head>
<body>
<h2>SMS notification sent!</h2>
<form th:action="@{/}" method="GET">
    <button type="submit" class="btn btn-primary mb-2">Back</button>
</form>
</body>
</html>